APP_NAME=your-app-name
APP_PORT=3000
DATABASE_URL=sqlite:///app/data/data.db?mode=rwc
API_KEY=your-secret-key
FETCH_URL=https://some-api.com/endpoint
CRON_SCHEDULES="0 0 14 * * MON-FRI,0 30 21 * * MON-FRI"
